{% load staticfiles %}
<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#"><span>IWS Project</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <span style="font-weight:lighter;font-size:16px;text-align:center;padding-left:10px;font-family: Copperplate, 'Copperplate Gothic Light', fantasy;"><i></i></span>
    </div><!--/.nav-collapse animate-collapse -->
  </div>
</div>